/* début Spinner Loader */
.loader {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    animation: 2s 10s forwards disparaitre;
    z-index: 100;
}

.lds-roller {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 80px;
    z-index: 5;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
    animation-fill-mode: forwards;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #99E2D0;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes disparaitre {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* fin Spinner loader */

/* début Style Générale */
html,
body {
    font-family: Roboto;
    font-size: large;
    margin: 0;
}

h2 {
    margin: 20px 0 20px 0;
}

.texteGras {
    font-weight: bold;
}

.cBlanc {
    color: #fff;
}

.cNoir {
    color: #000;
}

.bgNoir {
    background-color: #353535;
}

.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexColumnCentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.texteStyleNull {
    text-decoration: none;
}

.bordureNull {
    border: none;
}

.blocShadow {
    box-shadow: 0 5px 5px 1px #e6e6e6;
}

.blocShadow:hover {
    box-shadow: 5px 5px 5px 1px #9356DC;
    transform: scale(1.05);
}

.lien:hover {
    color: #9356DC;
}

/* Fin Style Générale */
/*Début header */

.margPresentation {
    background-color: #F6F6F6;
    text-align: center;
    padding: 20px;
}

.margLogo {
    margin-top: 25px;
    padding-bottom: 10px;
}

.logoShadow {
    margin-bottom: 5px;
    box-shadow: 0 5px 5px 0 #d2d2d2;
}

.blocLocalisation {
    background-color: #EAEAEA;
    height: 50px;
}

.iconLocalisation {
    margin-right: 10px;
}

.logo {
    width: auto;
    height: 35px;
}

.imgMenu {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 300px;
}

/* Début Restaurants*/
#Restaurants {
    flex-direction: column-reverse;
    width: 100%;
}

h2 {
    margin-top: 0;
}

.tailleRestaurants {
    margin-right: 20px;
    padding: 20px;
    height: auto;
    background-color: white;
}

.imgRestaurants {
    object-fit: cover;
    object-position: center;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 150px;
}

.blocRestaurants {
    padding-left: 20px;
    padding-right: 20px;
    flex: none;
    width: 90%;
    margin: 0;
    height: auto;
}

.sousBlocRestaurants {
    height: auto;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 25px;
}

.margLigne2 {
    flex-direction: column;
}

.DetailRestaurants {
    width: 90%;
    margin-top: 10px;
}

.DetailRestaurants h3,
p {
    margin: 0;
    margin-bottom: 10px;
}

.bouttonRestaurants:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background: linear-gradient(#FF79DAE8, #9256dce8);
}

.bouttonRestaurants {
    padding: 15px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    overflow: hidden;
    transition: .3s ease-in-out;
    z-index: 1;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23);
}

.etiquette {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
    background-color: #99E2D0;
    color: #127c64;
    position: relative;
    top: -140px;
    right: 10px;
    z-index: 1;
    width: 100px;
    height: 30px;
}

/* Fin Restaurants*/
/* Début liste */
.liste {
    counter-reset: section;
    list-style: none;
    padding: 0;
}

.margListe {
    padding: 20px;
}

.listeIncrement {
    counter-reset: subsection;
    margin-bottom: 20px;
    margin-right: 10px;
    height: 75px;
    display: flex;
    align-items: center;
}

.listeIcon {
    width: 25px;
    padding: 10px 10px 10px 5px;
    color: gray;
}

.listeBordure {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    padding-left: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 10px 1px #d2d2d2b2;
    display: flex;
    align-items: center;
}

.listeBordure p {
    margin-bottom: 0;
}

.listeIncrement:hover>.listeBordure>.listeIcon {
    color: #9356DC;
}

.listeIncrement:hover>.listeBordure {
    background-color: #F5EDFF;
}

.listeIncrement:before {
    content: counter(section, decimal);
    padding: 5px 10px 5px 10px;
    background-color: #9356DC;
    color: white;
    border-radius: 50%;
    margin-right: -15px;
    z-index: 1;
    counter-increment: section;
}

/*Fin Liste*/
/* Début Menu */
.Menu {
    background-color: #f6f6f6;
    position: relative;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: auto;
    top: -50px;
    z-index: 1;
    padding: 20px;
}

.Menu h2 {
    font-family: Shrikhand;
}

.listeMenu {
    list-style: none;
    padding: 0;
}

.inputCheck {
    position: relative;
    margin-bottom: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.inputCheck input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

input[type=checkbox]:checked~.listeBordureMenu {
    background-color: #9356DC;
    color: #fff;
}

.margListe {
    padding: 20px;
}

.descriptionMenu {
    width: 95%;
    padding-bottom: 10px;
}

.listeBordureMenu {
    width: 100%;
    height: 100%;
    padding-left: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 10px 1px #d7d7d7;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.listeBordureMenu h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}

/*.inputCheck input:hover>.listeBordure>.listeIcon {
    
}

.inputCheck input:hover>.listeBordure {
    
}*/

.bouttonMenu:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background: linear-gradient(#FF79DAE8, #9256dce8);
}

.bouttonMenu {
    padding: 15px 50px 15px 50px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    overflow: hidden;
    transition: .3s ease-in-out;
    z-index: 1;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23);
}

/*Début footer*/
.footer {
    padding: 10%;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
}

.footerTexte {
    margin-bottom: 10px;
}

.footer h3 {
    font-family: Shrikhand;
    font-size: larger;
    margin-top: 0;
}

.footerIcon {
    width: 20px;
    padding-right: 10px;
}

/*Fin footer*/




/*.inputCheck {
    position: relative;
    height: 32px;
    width: 32px;
}

.inputCheck input {
    position: absolute;
    height: 32px;
    width: 32px;
    opacity: 0;
    cursor: pointer;
}
.tailleIconFiltre {
    margin: -2px;
    height: 52px;
    width: 52px;
    border-radius: 25px;
    background-color: #DEEBFF;
    color: #0065FC;
}
/* Controle des loader */
/*.coeur {
    height: 32px;
    width: 32px;
    color: #9356DC;
}


input[type=checkbox]:checked~.coeur i .glissement {
    background-color: #FF79DA;
    animation-duration: 1s;
    animation-name: glissement;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1;
}

@keyframes glissement {

    from {
        margin-top: 0%;
    }

    to {
        margin-top: 100%;
    }
}
.fa-heart {
    color: #FFF;
    background-color: #000;
    border-radius: 50%;
    padding:.2em;
}
.fa-heart::before {
    content: "\f004";
    font-weight: bold;
    transition: color 1s ease-out;
}
.fa-heart:hover::before{
    color: red;
    cursor: pointer;
}
*/