/* début Style Générale */
html,
body {
    font-family: Raleway;
    font-size: large;
    margin: 0;
}

h2 {
    margin: 20px 0 20px 0;
}
header{
    padding: 30px;
    background-color: #f7f7f7;
    text-align: center;
}
.texteGras {
    font-weight: bold;
}

.cGris {
    color: #F2F2F2;
}

.cBleu {
    color: #0065FC;
}

.cNoir {
    color: #000;
}

.cBleuClaire {
    color: #DEEBFF;
}

.bgBleu {
    background-color: #0065FC;
}

.bgBleuClaire {
    background-color: #0065FC;
}

.bgGris {
    background-color: #F2F2F2;
}

.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexColumnCentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texteStyleNull {
    text-decoration: none;
}

.bordureNull {
    border: none;
}

.blocShadow {
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}

.blocShadow:hover {
    box-shadow: 5px 5px 5px 1px #0065FC;
    transform: scale(1.05);
}

.lien:hover {
    color: #0065FC;
}

/* Fin Style Générale */
/* Début Navbar*/
.margLogo{
    margin-top: 50px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    box-shadow: 0 5px 5px 0 #d2d2d2;
}

.texteLocalisation{
    background-color: #ededed;
    height: 50px;
}
.iconLocalisation{
    margin-right: 10px;
}
.logo {
    width: auto;
    height: 35px;
}

/* Fin Navbar*/
/* Début Barre de Recherche*/
.texteRecherche {
    display: block;
}

.iconRecherche {
    display: none;
}

.bordureRecherche {
    width: 400px;
    border-radius: 10px;
    border: 1px solid #F2F2F2;
}

.recherche {
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    padding-left: 20px;
}

.tailleIcon {
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}

.buttonRecherche {
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

.buttonRecherche:hover {
    color: #0065FC;
    background-color: #F2F2F2;
}

/* Fin Barre de Recherche*/
/* Début Filtre*/
.Filtres {
    display: flex;
    align-items: center;
}

.margFiltre {
    margin-top: 30px;
    margin-bottom: 20px;
}

.TitreFiltre {
    margin-right: 20px;
}

.bordureFiltre {
    height: 50px;
    border-radius: 30px;
    border: 2px solid #F2F2F2;
    margin-right: 25px;
    cursor: pointer;
}

.Filtre {
    font-size: 18px;
    color: black;
    font-weight: bold;
    padding: 0 20px 0 10px;
}

.tailleIconFiltre {
    margin: -2px;
    height: 52px;
    width: 52px;
    border-radius: 25px;
    background-color: #DEEBFF;
    color: #0065FC;
}

input[type=checkbox]:hover~ .bordureFiltre .filtreTexte {
    color: #0065FC;
}

input[type=checkbox]:hover~ .bordureFiltre .tailleIconFiltre {
    color: white;
    background-color: #0065FC;
}

input[type=checkbox]:hover~ .bordureFiltre {
    border-color: #0065FC;
}

.filtreTexte {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
    white-space: nowrap;
}

.inputCheck {
    position: relative;
    float: left;
}

.inputCheck input {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 25px);
    height: 50px;
    opacity: 0;
    cursor: pointer;
}

input[type=checkbox]:checked~.bordureFiltre {
    border-color: #0065FC;
}

input[type=checkbox]:checked~.bordureFiltre .tailleIconFiltre {
    border-color: #0065FC;
    color: white;
    background-color: #0065FC;
}

input[type=checkbox]:checked~.bordureFiltre .filtreTexte {
    color: #0065FC;
}

/* Fin Filtre*/
/* Début Info Icon*/
.iconInfo {
    display: flex;
    align-items: center;
}

.iconInfoBordure {
    border: 2px solid #F2F2F2;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    margin-right: 10px;
}

/* Fin Info Icon*/
/* Début Restaurants*/
.tailleRestaurants {
    margin-right: 20px;
    padding-top: 50px;
    height: auto;
    background-color: #f7f7f7;
}

.imgRestaurants {
    object-fit: cover;
    object-position: center;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 120px;
}

.blocRestaurants {
    padding-left: 20px;
    padding-right: 20px;
}

.sousBlocRestaurants {
    width: 30%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
}

.margLigne1 {
    margin-bottom: 10px;
}

.margLigne2 {
    margin-top: 10px;
}

.DetailRestaurants {
    width: 90%;
}

/* Fin Restaurants*/
/* Début Populaires*/
.blocPopulaires {
    padding-left: 20px;
    padding-right: 20px;
}

.margBloc {
    margin-bottom: 20px;
}

.taillePopulaires {
    margin-left: 20px;
    height: 740px;
}

.imgPopulaires {
    object-fit: cover;
    object-position: center;
    border-radius: 15px 0 0 15px;
    width: 100%;
    height: 160px;
}

.sousBlocPopulaires {
    height: auto;
    background-color: white;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
}

.DetailPopulaires {
    width: 60%;
    padding-left: 5%;
}

.iconPopulaires {
    padding-top: 25px;
}

/* Fin Populaires*/
/* Début Activités*/
.Activites {
    margin-top: 50px;
    margin-bottom: 50px;
}

.blocActivites {
    width: 100%;
    height: 600px;
}

.blocsActivites {
    width: 23%;
    height: 600px;
}

.sousBlocActivies {
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}

.titreActivite {
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
}

.sousBlocsActivies {
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}

.imgActivites {
    object-fit: cover;
    object-position: center;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 530px;
}

.imgActivites_1 {
    object-fit: cover;
    object-position: center;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 250px;
}

.imgActivites_2 {
    object-fit: cover;
    object-position: center;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 150px;
}

.imgActivites_3 {
    object-fit: cover;
    object-position: center;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 200px;
}

/*Début footer*/
.footer {
    height: 300px;
    margin-top: 100px;
}

.tailleBlocFooter {
    height: 150px;
}

.margeBlocFooterD {
    margin-left: 15%;
}

.margeBlocFooterF {
    margin-right: 15%;
}

@media screen and (max-width: 992px) {

    .taillePopulaires {
        padding: 20px;
        min-height: auto;
    }

    .tailleRestaurants {
        padding: 20px;
        min-height: auto;
    }

    .DetailRestaurants {
        min-height: 150px;
    }

    .filtreWarp {
        flex-direction: column;
        align-items: flex-start;
    }

    .inputCheck {
        margin-top: 20px;
    }

    .TitreFiltre h3 {
        margin-bottom: 0px;
    }

    .imgPopulaires {
        height: 200px;
    }

    .sousBlocPopulaires {
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    #Restaurants {
        flex-direction: column-reverse;
        width: 100%;
    }

    h2 {
        margin-top: 0;
    }

    .tailleRestaurants {
        background-color: white;
    }

    .blocPopulaires {
        flex: none;
        width: 90%;
        margin: 0;
        padding: 5%;
    }

    .blocRestaurants {
        flex: none;
        width: 90%;
        margin: 0;
        height: auto;
    }

    .margLigne1 {
        flex-direction: column;
        margin-bottom: 0;
    }

    .margLigne2 {
        flex-direction: column;
        margin-top: 0;
    }

    .sousBlocRestaurants {
        width: 100%;
        margin-bottom: 50px;
    }

    .DetailRestaurants {
        min-height: auto;
    }

    .blocActivites {
        flex-direction: column;
        height: auto;
    }

    .sousBlocActivies {
        width: 100%;
        margin-bottom: 50px;
    }

    .blocsActivites {
        width: 100%;
        height: auto;
    }

    .sousBlocsActivies {
        margin-bottom: 50px;
    }

    .imgActivites,
    .imgActivites_1,
    .imgActivites_2,
    .imgActivites_3 {
        height: 200px;
    }

    .footer {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .margeBlocFooterD {
        margin-left: 0;
    }

    .tailleBlocFooter {
        margin-left: 10%;
    }

    .margeBlocFooterF {
        margin-right: 0;
    }

    .tailleLiens {
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .tailleLien {
        width: inherit;
        min-width: 100%;
    }

    .bordureNav {
        border-top: 0;
        border-bottom: 5px solid #F2F2F2;
    }

    .bordureNav:hover {
        border-top: 0;
        border-bottom: 5px solid #0065FC;
    }

    .texteRecherche {
        display: none;
    }

    .iconRecherche {
        display: block;
    }
    .bordureRecherche {
        width: 330px;
    }
    .buttonRecherche {
        height: 50px;
        width: 50px;
        border-radius: 0 10px 10px 0;
    }

    .filtreTexte {
        padding-left: 10px;
        padding-right: 10px;
    }

    .inputCheck{
        right: 0px;
    }

}





/*.inputCheck {
    position: relative;
    height: 32px;
    width: 32px;
}

.inputCheck input {
    position: absolute;
    height: 32px;
    width: 32px;
    opacity: 0;
    cursor: pointer;
}
.tailleIconFiltre {
    margin: -2px;
    height: 52px;
    width: 52px;
    border-radius: 25px;
    background-color: #DEEBFF;
    color: #0065FC;
}
/* Controle des loader */
/*.coeur {
    height: 32px;
    width: 32px;
    color: #9356DC;
}


input[type=checkbox]:checked~.coeur i .glissement {
    background-color: #FF79DA;
    animation-duration: 1s;
    animation-name: glissement;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1;
}

@keyframes glissement {

    from {
        margin-top: 0%;
    }

    to {
        margin-top: 100%;
    }
}*/